  .node {
    cursor: pointer;
  }

  .node circle {
    fill: #fff;
    stroke: none;
    stroke-width: 1.5px;
  }

  .node text {
    font: 12px sans-serif;
  }

  path.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
    stroke-linecap: round;
  }  .node {
    cursor: pointer;
  }

  .node circle {
    fill: #fff;
    stroke: none;
    stroke-width: 1.5px;
  }

  .node text {
    font: 12px sans-serif;
  }

  path.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
    stroke-linecap: round;
  }